<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %class{36}.%method:%line - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 	<logger name="org.springframework" level="info" />
            <root level="info"> -->
    <logger name="org.springframework" level="info" />
    <root level="info">
        <appender-ref ref="console" />
    </root>
        <!-- 좀 더 보기 좋은 MyBatis 쿼리 Log : log4jdbc -->
        <logger name="org.mybatis.spring" level="debug" />
        <logger name="jdbc.sqlonly" level="debug" />
        <logger name="jdbc.sqltiming" level="off" />
        <logger name="jdbc.audit" level="off" />
        <logger name="jdbc.resultset" level="off" />
        <logger name="jdbc.resultsettable" level="debug" />
        <logger name="jdbc.connection" level="off" />
</configuration>

